*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#111b21;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-card{
    width:400px;
    background:#202c33;
    padding:40px;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,.4);
    text-align:center;
}

.logo{
    width:80px;
    height:80px;
    background:#25D366;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:40px;
    margin:auto;
    margin-bottom:20px;
}

.login-card h1{
    color:#fff;
    margin-bottom:10px;
}

.subtitle{
    color:#b1b3b5;
    margin-bottom:30px;
}

.login-card input{
    width:100%;
    padding:15px;
    margin-bottom:18px;
    border:none;
    border-radius:10px;
    outline:none;
    background:#2a3942;
    color:#fff;
    font-size:16px;
}

.login-card input::placeholder{
    color:#b1b3b5;
}

.login-card button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#25D366;
    color:white;
    font-size:17px;
    cursor:pointer;
    transition:.3s;
}

.login-card button:hover{
    background:#1ebe5d;
}

.bottom-text{
    margin-top:25px;
    color:#d1d7db;
}

.bottom-text a{
    color:#25D366;
    text-decoration:none;
    font-weight:bold;
}

.bottom-text a:hover{
    text-decoration:underline;
}

@media(max-width:500px){

.login-card{
    width:90%;
    padding:25px;
}

}